doctype html
html(lang='en')
  title Private NPM using Docker
  style
    :stylus
      @css {
        @import url(http://fonts.googleapis.com/css?family=IM+Fell+English);
        @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
      }
      h1, h2
        font-family 'IM Fell English' serif
      body
        background #ECF0F1
        color #2C3E50
        font-family 'Roboto Slab' serif
        font-size 40px
        transition background 500ms
      a
        color inherit
      .step
        width 100vw
        height 100vh
        text-align center
      ul
        display inline-block
        margin 50px auto
        text-align left
        &.links
          font-size 0.8em
      pre
        margin 0 auto
        text-align left
        display inline-block
      p
        margin 0
        margin-top 20px
        &.me
          font-size 0.8em
        &.work
          margin-top 100px
          font-size 0.7em
      colors = #e67e22 #f1c40f #2ecc71 #1abc9c #be643c
      for step in 2..10
        .impress-on-step-{step}
          background colors[step % 5]
  #impress
    .step(data-x=0, data-y=0)
      h1 private npm registry
      p with docker & sinopia
      p.me bence dányi (@madbence)
      p.work purpose industries
    .step(data-x=1500, data-y=0)
      h1 private packages
      ul
        li tarball ☹
        li git remote ☹
        li package ☺
      br
      pre.
        $ npm install http://my-org.com/my-package.tar.gz

        $ npm install git://github.com/my-org/my-package.git
        $ npm install my-org/my-package

        $ npm install @my-org/my-package
    .step(data-x=3000, data-y=0)
      h1 sinopia
      ul
        li zero conf
        li private registry
        li cache
        li audit packages
        li behind firewalls
        li simple storage (everyone ♥ files)
        li auth plugins (htpasswd, LDAP, etc.)
    .step(data-x=4500, data-y=0)
      h1 usage
      pre.
        $ npm install -g sinopia
        $ sinopia


        $ npm install my-private-package --registry http://localhost:4873
    .step(data-x=6000, data-y=0)
      h1 in production?
      ul
        li management
        li availability
        li isolation
    .step(data-x=6000, data-y=1000)
      h1 docker!
      ul
        li isolation: containerization
        li daemon: availability
        li data containers: management
      p: a(href='http://www.meetup.com/Docker-Budapest-Hungary/') (docker budapest meetup)
    .step(data-x=7500, data-y=0)
      h1 docker 101
      ul
        li container ≈≈≈ virtual machine
        li container ≈≈ isolated process
        li container ≈ logical service
      br
      pre.
        $ docker run --rm busybox echo 'hello nodebp'
    .step(data-x=9000, data-y=0)
      h1 containers for sinopia
      img(src='arch.png')
    .step(data-x=10500, data-y=0)
      h1 demo time!
    .step(data-x=10500, data-y=1000)
      h1 questions?
      ul.links
        li http://github.com/purposeindustries/docker-sinopia{-container,-nginx,}
        li http://registry.hub.docker.com/repos/purpose/sinopia{-container,-nginx,}
        li http://madbence.github.io/nodebp-sinopia
  script(src='http://bartaz.github.io/impress.js/js/impress.js')
  script.
    impress().init()
